@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

html,
body {
  overflow-x: clip;
  max-width: 100%;
}

main {
  overflow-x: clip;
}
